* {
  margin: 0;
  padding: 0;
}

.bowlby-one-sc-regular {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6em;
  background-color: #9d998a;
  grid-area: header;
}

header img {
  max-height: 100%;
}

header p {
  color: white;
  font-size: 2em;
  padding-left: 1em;
  text-shadow: 2px 2px 2px #2c2c2c, -2px 2px 2px #2c2c2c, -2px -2px 0 #2c2c2c,
    2px -2px 0 #2c2c2c;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 3em;
  background-color: #ddd8c9;
  grid-area: nav;
}

nav p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #2c2c2c;
}

main {
  height: 79.9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  grid-area: main;
  background-color: black;
}

main img {
  margin: 1em;
  width: 30%;
  filter: grayscale(100%);
  transition: all 1s ease;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 3em;
  background-color: #ddd8c9;
  grid-area: footer;
}

footer p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main img:hover {
  filter: grayscale(0%);
  cursor: pointer;
  transform: rotate(720deg);
}

@media (max-width: 576px) {
  body {
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
  }
}

@media (min-width: 577px) {
  body {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 84.9vh;
  }

  nav p {
    padding-top: 1em;
  }

  main {
    height: 84.9vh;
    flex-direction: row;
    flex-wrap: wrap;
  }

  main img {
    max-width: 20%;
  }

  footer {
    background-color: #9d998a;
  }
}